<div class="flex items-center gap-1 p-3">
  <div class="span-1 w-full border border-blue-400">
    <p-tabs lazy value="1">
      <div class="flex items-center justify-between border-b border-gray-200 pb-2 mb-3 px-3">
        <div>
          <p-tablist>
            <p-tab value="0">
              <span class="material-icons text-purple-600" style="font-size: 15px">home</span>
            </p-tab>
            <p-tab value="1">All Emails</p-tab>
            <p-tab value="2" class="flex items-center">
              Unsorted
              <span
                class="inline-flex items-center justify-center text-[10px] w-4 h-4 rounded-full bg-red-500 text-white"
              >
                2
              </span>
            </p-tab>
          </p-tablist>
        </div>

        <div class="flex items-center gap-3 mr-3">
          <input
            type="text"
            placeholder="Search Email"
            class="border border-gray-300 px-2 py-1 rounded-full focus:bg-gray-100 focus:outline-none duration-300"
          />

          <button
            class="flex items-center gap-0.5 btn border border-gray-300 bg-gray-200 px-2 py-1 rounded-lg cursor-pointer"
          >
            <span class="material-icons text-sm" style="font-size: 15px">filter_alt</span>Filter
          </button>

          <button
            class="flex items-center gap-0.5 btn bg-blue-400 px-2 py-1 rounded-lg cursor-pointer text-white"
          >
            New Email
          </button>
        </div>
      </div>

      <p-tabpanels>
        <p-tabpanel value="0">
          <p class="m-0">home content</p>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="text-xs">
            <div class="flex items-center px-3 py-2 border border-red-200 rounded-md bg-red-50/70 mb-2">
              <div class="flex items-center justify-between w-full gap-5">
                <span class="font-medium text-slate-700 text-sm"> Alex Jonson </span>
                <div class="flex -space-x-2">
                  <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                    shape="circle"
                  />
                </div>

                <div class="flex items-center text-slate-400">
                  <span class="material-icons text-[18px] cursor-pointer">reply</span>
                  <span class="material-icons text-[18px] cursor-pointer">forward</span>
                </div>
                <span class="text-[11px] text-slate-500 whitespace-nowrap"> 1 day, 2 hours </span>
              </div>
            </div>

            <div class="flex items-center px-3 py-2 border-b bg-slate-50 border border-gray-200 rounded-md mb-2">
              <div class="flex items-center justify-between w-full gap-5">
                <span class="font-medium text-slate-700 text-sm
                 max-w-[120px] truncate whitespace-nowrap overflow-hidden"> Johnn Smith </span>
                <div class="flex -space-x-2">
                  <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                    shape="circle"
                  />
                </div>

                <div class="flex items-center text-slate-400">
                  <span class="material-icons text-[18px] cursor-pointer">reply</span>
                  <span class="material-icons text-[18px] cursor-pointer">forward</span>
                </div>
                <span class="text-[11px] text-slate-500 whitespace-nowrap"> 1 day, 2 hours </span>
              </div>
            </div>

            <div class="flex items-center px-3 py-2 border-b bg-green-50/70 border border-green-200 rounded-md">
              <div class="flex items-center justify-between w-full gap-5">
                <span class="font-medium text-slate-700 text-sm"> David Brown </span>
                <div class="flex -space-x-2">
                  <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                    shape="circle"
                  />
                </div>

                <div class="flex items-center text-slate-400">
                  <span class="material-icons text-[18px] cursor-pointer">reply</span>
                  <span class="material-icons text-[18px] cursor-pointer">forward</span>
                </div>
                <span class="text-[11px] text-slate-500 whitespace-nowrap"> 1 day, 2 hours </span>
              </div>
            </div>

            
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <ng-template #content
            >Complex components that should only be initialized when the tab becomes
            active</ng-template
          >
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
  <div class="span-1 w-full border border-red-500">section 2</div>
</div>
