<div class="flex items-center border-b-2 border-gray-200 bg-white px-3 gap-2">
  <button
    class="p-2 rounded-full hover:bg-slate-100 duration-300 text-slate-600 flex items-center justify-center"
  >
    <span class="material-icons" style="font-size: 15px">grid_view</span>
  </button>

  <div class="flex items-center gap-2">
    <div class="flex items-center gap-2 rounded-lg px-3 py-1 cursor-pointer hover:bg-slate-100">
      <span class="material-icons text-purple-600" style="font-size: 15px">home</span>

      <span class="text-sm text-slate-800 whitespace-nowrap"> 123 Main Street </span>

      <span
        class="inline-flex items-center justify-center text-[10px] w-4 h-4 rounded-full bg-red-500 text-white"
      >
        2
      </span>

      <button class="p-1 rounded-full cursor-pointer">
        <span class="material-icons text-slate-500" style="font-size: 15px">close</span>
      </button>
    </div>

    <div class="flex items-center gap-2 rounded-lg px-3 py-1 cursor-pointer hover:bg-slate-100">
      <span class="material-icons text-pink-500" style="font-size: 15px">whatshot</span>

      <span class="text-sm text-slate-800 whitespace-nowrap"> 123 Main Street </span>

      <button class="p-1 rounded-full cursor-pointer">
        <span class="material-icons text-slate-500" style="font-size: 15px">close</span>
      </button>
    </div>
  </div>

  <button
    class="p-2 rounded-full hover:bg-slate-100 ml-2 text-slate-600 flex items-center justify-center cursor-pointer"
  >
    <span class="material-icons" style="font-size: 15px">add</span>
  </button>
</div>
